{{- if .Values.ingress.enabled }}
{{- if not .Values.ingress.consoleTokenSecret.manuallyCreatedSecret }}
  # ------------------- Ingress Tunnel Token ------------------- #
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Values.clusterName }}-ingress
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    kind: {{ .Values.ingress.consoleTokenSecret.secretStoreKind }}
    name: {{ .Values.ingress.consoleTokenSecret.secretStore }}
  target:
    creationPolicy: Owner
  data:
    - secretKey: console_token
      remoteRef:
        key: {{ .Values.ingress.consoleTokenSecret.secretName }}
        property: CONSOLE_TOKEN
{{- end }}
{{- end }}
{{- if .Values.warp.enabled }}
{{- if not .Values.warp.consoleTokenSecret.manuallyCreatedSecret }}
# ------------------- WARP Tunnel Token ------------------- #
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Values.clusterName }}-warp
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    kind: {{ .Values.warp.consoleTokenSecret.secretStoreKind }}
    name: {{ .Values.warp.consoleTokenSecret.secretStore }}
  target:
    creationPolicy: Owner
  data:
    - secretKey: console_token
      remoteRef:
        key: {{ .Values.warp.consoleTokenSecret.secretName }}
        property: CONSOLE_TOKEN
{{- end }}
{{- end }}
